<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ .PageTitle }} - Go App Template</title>
    <meta name="description" content="{{ .PageDescription }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    {{ block "content" . }}
    {{ end }}
  </body>
</html>
